<div id='content'>
</div>

<script type="text/javascript">
  React.render(React.createElement(Organ, { notes: ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"] }), document.getElementById("content"));
</script>
